/* Quagga Configurations */
#interactive.viewport {position: relative; width: 100%; height: auto; overflow: hidden; text-align: center;}
#interactive.viewport > canvas, #interactive.viewport > video {max-width: 100%;width: 100%;}
canvas.drawing, canvas.drawingBuffer {position: absolute; left: 0; top: 0;}

.login-main, .register-main{
    margin: auto;
    width: auto;
    margin-top: 30px;
}

.newbook-main{
    padding-top: 20px;
}

.card-main{
    width: 100%;
    margin: auto;
    margin-top: 20px;
}

.button-login{
    margin-left: 20%;
    width: 55%;
}

.card-wide.mdl-card {
  width: 90%;
}

.card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../../images/welcome_card.jpg') center / cover;
}

.card-wide > .mdl-card__menu {
  color: #fff;
}

.newbook-main .mdl-textfield {
    width: 400px;
}

.newbook-main{
    margin-top: 15px;
    margin: 0 20px;
}

#show-dialog{
    width: 70%;
    height: 90%;
    margin-top: 3%;
    z-index: 7;
}

#scanner-container{

}

#login-button, #register-user-button{
    border-radius: 20px;
}

#add-book, #register-book-button{
    z-index: 5;
    position: fixed;
    bottom: 3%;
    right: 3%;
}

@media (max-width: 575px) {
    #camera-button{
        z-index: 5;
        position: fixed;
        bottom: 15.5%;
        right: 4.8%;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    #camera-button{
        z-index: 5;
        position: fixed;
        bottom: 13.5%;
        right: 4%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #camera-button{
        z-index: 5;
        position: fixed;
        bottom: 13%;
        right: 3.7%;
    }
}

@media (min-width: 992px) {
    #camera-button{
        z-index: 5;
        position: fixed;
        bottom: 13%;
        right: 3.7%;
    }
}

a{
    color: white;
    text-decoration: none;
}
